body {
	margin: 0;
}

.line {
	background: #F1D45E;
	height: 3px;
	width: 100%;
}

.albastru {
	background: rgb(167,207,223);
	background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
	background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	background: linear-gradient(to bottom, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
	height: 150px;
	width: 100%;
}

.albastru h1 {
	color: white;
	font: "Courier New";
	position: absolute;
	margin: 0;
	left: 30%;
	top: 30px;
	font-size: 50;
}

.patratel .meniu {
	background-image: -moz-linear-gradient(center top , #2F4D7D, #0F2E61);
	height: 40px;
	width: 98%;
	position: relative;
	left: 1%;
	top: 5px;
}

.patratel {
	background: white;
	height: 50px;
	width: 54%;
	position: relative;
	left: 23%;
	top: -25px;
}

.iframe {
	width: 70%;
	height: 100%;
	visibility: visible; 
	box-sizing: content-box;
	margin: 10px 15% 0 15%;
	overflow: hidden;
	position: absolute;
}

.meniu a {
	color: white;
	font-size: 20px;
	font-family: "Arvo";
	margin: 10px 9%;
	position: relative;
	top: 5px;
}